.continue-button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  user-select: none;
  box-shadow: 0;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background-color: lawngreen;
}
